#!/bin/bash
SessionName="NomadicEternals-TheIsland"
port="7777"
queryport="27015"
ServerAdminPassword="Nomadic_Eternals_ChangeMe"
maxplayers="50"
screen -dmS ark ShooterGame/Binaries/Linux/ShooterGameServer TheIsland?listen?Multihome=0.0.0.0?SessionName=$?MaxPlayers=$?QueryPort=$?Port=$?ServerAdminPassword=$ -server -log
