#!/bin/bash
SessionName="NomadicEternals-TheIsland"
port="7777"
queryport="27015"
ServerAdminPassword="ChangeMe"
maxplayers="50"
screen -dmS theisland ShooterGame/Binaries/Linux/ShooterGameServer TheIsland?listen?Multihome=0.0.0.0?SessionName=NomadicEternals-TheIsland?MaxPlayers=50?QueryPort=27015?Port=7777?ServerAdminPassword=ChangeMe -NoTransferFromFiltering clusterid=cluster00000 -server -log
