[ServerSettings]
AdminLogging=True
AllowCaveBuildingPvE=False
AllowFlyerCarryPvE=False
AllowHideDamageSourceFromLogs=False
AllowTekSuitPowersInGenesis=False
allowThirdPersonPlayer=False
alwaysNotifyPlayerJoined=False
alwaysNotifyPlayerLeft=False
AutoSavePeriodMinutes=15
bAllowPlatformSaddleMultiFloors=False
Banlist="http://arkdedicated.com/banlist.txt"
bForceCanRideFliers=False
ClampResourceHarvestDamage=False
CrossARKAllowForeignDinoDownloads=False
CryopodNerfDamageMult=0.01
CryopodNerfDuration=10
CryopodNerfIncomingDamageMultPercent=0.30
DayCycleSpeedScale=1
DayTimeSpeedScale=1.00000
DifficultyOffset=0.2
DinoCharacterFoodDrainMultiplier=1.00000
DinoCharacterHealthRecoveryMultiplier=1.00000
DinoCharacterStaminaDrainMultiplier=1.00000
DinoCountMultiplier=1.00000
DinoDamageMultiplier=1.00000
DinoResistanceMultiplier=1.00000
DisableDinoDecayPvE=False
DisablePvEGamma=False
DisableStructureDecayPvE=False
DisableWeatherFog=False
EnableCryopodNerf=False
EnableCryoSicknessPVE=False
EnablePvPGamma=False
globalVoiceChat=False
HarvestAmountMultiplier=1.00000
HarvestHealthMultiplier=1.00000
ItemStackSizeMultiplier=1.0
MaxPlatformSaddleStructureLimit=100
MaxTamedDinos=4000
[ServerSettings]
MaxTributeDinos=20
MaxTributeItems=50
NightTimeSpeedScale=1.00000
noTributeDownloads=False
PerPlatformMaxStructuresMultiplier=1.00000
PlayerCharacterFoodDrainMultiplier=1.00000
PlayerCharacterHealthRecoveryMultiplier=1.00000
PlayerCharacterStaminaDrainMultiplier=1.00000
PlayerCharacterWaterDrainMultiplier=1.00000
PlayerDamageMultiplier=1.00000
PlayerResistanceMultiplier=1.00000
proximityChat=False
PvEDinoDecayPeriodMultiplier=1.00000
PvEStructureDecayDestructionPeriod=1.00000
PvEStructureDecayPeriodMultiplier=1.00000
PvPStructureDecay=False
RandomSupplyCratePoints=False
ResourcesRespawnPeriodMultiplier=1.00000
ServerAdminPassword=
serverForceNoHud=False
serverHardcore=False
ServerPassword=
serverPVE=False
ShowMapPlayerLocation=False
SpectatorPassword=
StructureDamageMultiplier=1.00000
StructureResistanceMultiplier=1.00000
TamingSpeedMultiplier=1.00000
TheMaxStructuresInRange=10500
XPMultiplier=1.00000
[/script/engine.gamesession]
MaxPlayers=50
[SessionSettings]
SessionName=NomadicEternals-TheIsland
[MessageOfTheDay]
Duration=15
Message=Welcome To Nomadic Eternals
